doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		<!-- injector:css -->
		<!-- endinjector -->
		<!-- injector:js -->
		<!-- endinjector -->
		link(rel='stylesheet', href='css/style.css')

	body(data-spy="scroll", data-target="#navbar-hommy")
		nav(id="navbar-hommy", class="navbar navbar-default navbar-fixed-top", style="border-width: 0 0 0px;")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#collapsed-navbar")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					div(class="navbar-brand", href="#")
						img(src="/asset/hommy_logo_real.png", height="55", width="135", style="margin-top:-18px;")
				
				div(class="collapse navbar-collapse", id="collapsed-navbar")
					ul(class="nav navbar-nav")
						li
							a(class="scrollto page-scroll", align="center", href="#solution") The Solution
						li
							a(class="scrollto page-scroll", align="center", href="#ready") Ready To Use
						li
							a(class="scrollto page-scroll", align="center", href="#modular") Customizable
						li
							a(class="scrollto page-scroll", align="center", href="#distributed") Share The Work
						li
							a(class="scrollto page-scroll", align="center", href="#smartnotif") Smart Notifcation System
						li
							a(class="scrollto page-scroll", align="center", href="#download") Download The App


		div(class="jumbotron", style="margin-bottom:0px")
			div(class="container text-center")
				h1(class="title_color") So you're fed up with living in a messy house
				h2(class="title_color") We think we have the right solution just for you

		div(class="container-fluid .marketing principal_color", style="margin-top:0px")

			div(id="solution", class="row featurette")
				div(class="col-md-7 wow slideInLeft")
					h2(class="featurette-heading") Hommy is not another ugly todo-list app for accomplishing household chores.
					h3(class="lead", style="display:inline-block") This is the app that you and your
					ul(class="lead", style="display:inline-block")
						li family
						li rommates
						li spouse
					h3(class="lead", style="display:inline-block") needed
				div(class="col-md-5 wow slideInRight", style="top:-100px")
					img(class="img-responsive center-block", src="/asset/hommy_nexus.png",  width="1500")

			div(id="ready", class="row featurette even-div")
				div(class="col-md-6 wow slideInLeft")
					img(class="img-responsive center-block", src="/asset/placeit_ready.jpg", width="650px")
				div(class="col-md-6 text-right wow slideInRight")
					h2(class="featurette-heading") Download it and use it immediately <br/><small>There is no mandatory inscription or configuration.</small>
					p(class="lead") Hommy genuily gives you the chores you have to do to keep your house cleaned.

			div(id="modular", class="row featurette")
				div(class="col-md-6 wow slideInLeft")
					h2(class="featurette-heading") You still can change things <br/><small>Make it your own</small>
					p(class="lead") You can remove tasks you don't need.<br/> Change the periodicity of a task if you wish.<br/> Remove a pointless task for you.
				div(class="col-md-6 wow slideInRight")
					img(class="img-responsive center-block", src="/asset/placeit_modular.jpg", width="650px")

			div(id="distributed", class="row featurette even-div")
				div(class="col-md-6 wow slideInLeft")
					img(id="distributed-img", class="img-responsive center-block", src="/asset/distributed.jpg", width="650px")
				div(class="col-md-6 text-right wow slideInRight")
					h2(class="featurette-heading") Invite people you live with to help you do the hard work <br/><small>Be the leader at home</small>
					p(class="lead") Hommy is designed to distribute the chores automatically to each people living below the same roof.

			div(id="smartnotif", class="row featurette")
				div(class="col-md-7 wow slideInLeft")
					h2(class="featurette-heading") Interact with the app and your people exclusively through notifications <br/> <small>We all need to be reminined and congratulated.</small>
					p(class="lead") Validate the tasks you have done. Congratulate the persons who did their task.
				div(class="col-md-5 wow slideInRight")
					img(class="img-responsive center-block featurette-heading", src="/asset/mobile-app-notifications.png", width="650px")

			div(id="download", class="row featurette even-div", style="text-align:center")
				div(class="call-to-action")
					h2(class="featurette-heading wow tada", style="margin-bottom:30px") Download The App
					img(src="/asset/appstore.png", width="60px")
					a(id="playstore", href="#", class="btn btn-default", style="background-color:#F48226;color:#933735") download the Android app
					br
					img(src="/asset/playstore.png", width="60px")
					a(id="appstore", href="#", class="btn btn-default", style="background-color:#F48226;color:#933735") download the iOs App

		script(src='js/app.min.js')
